.statistics {
  &-main {
    box-sizing: border-box;
    padding: 12px;
    height: 100%;
  }
  &-left {
    display: inline-block;
    width: calc(70% - 12px);
    height: 100%;
    margin-right: 12px;
    &__top {
      height: calc(60% - 12px);
      margin-bottom: 12px;
    }
    &__bottom {
      height: calc(40%);
      display: flex;
      gap: 12px;
    }
  }
  &-right {
    display: inline-block;
    width: 30%;
    height: 100%;
    vertical-align: top;
    &__item {
      height: calc(100% / 3 - 12px);
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
        height: calc(100% / 3);
      }
    }
  }
}